{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-11">
        <div class="card">
            <form method="POST" action="">
                <left>
                    <h1>Enter your Friend details</h1><br>
                <form method="POST">
                First Name<li> <input type="text" name="first_name" placeholder="Type first name" required /></li><br>
                Last Name <li><input type="text" name="last_name" placeholder="Type last name" required /></li><br>
                    <li><input type="submit"></li>
                </form>
                </left>
            </form>
        </div>
    </div>
</div>
{% endblock %}