<div class="container">

    <div class="row">
        <div class="alert alert-warning" role="alert">
            Enter your details
        </div>
        <form method="POST">
            <div class="form-group">
                <label for="username">Username:</label></br>
                <input class="form-control" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label></br>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
        </form>
    </div>

</div>